# No LFS tracking - assets stored on HuggingFace Hub
# See: https://huggingface.co/datasets/damBruh/skyyrose-assets
# See: https://huggingface.co/datasets/damBruh/skyyrose-lora-dataset-v1
# See: https://huggingface.co/datasets/damBruh/skyyrose-lora-dataset-v2
*.mp4 filter=lfs diff=lfs merge=lfs -text
wordpress-theme/skyyrose-flagship/assets/video/* filter=lfs diff=lfs merge=lfs -text
