{
  "openapi": "3.1.0",
  "info": {
    "title": "DevSkyy Enterprise API",
    "version": "5.2.1",
    "description": "Luxury Fashion AI Platform with Multi-Agent Orchestration",
    "contact": {
      "name": "DevSkyy Team",
      "url": "https://github.com/The-Skyy-Rose-Collection-LLC/DevSkyy"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-truth-protocol": "Verified API specification",
    "x-generated-date": "2025-11-16",
    "x-security-baseline": "AES-256-GCM, OAuth2+JWT, RBAC"
  },
  "servers": [
    {
      "url": "https://api.devskyy.com",
      "description": "Production"
    },
    {
      "url": "https://staging-api.devskyy.com",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check endpoint",
        "operationId": "health_check",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Prometheus metrics",
        "operationId": "prometheus_metrics",
        "tags": [
          "Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Prometheus metrics in text format"
          }
        }
      }
    },
    "/api/v1/rag/query": {
      "post": {
        "summary": "RAG query endpoint",
        "operationId": "rag_query",
        "tags": [
          "RAG"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string"
                  },
                  "top_k": {
                    "type": "integer",
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RAG query result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "metadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mcp/servers": {
      "get": {
        "summary": "List MCP servers",
        "operationId": "list_mcp_servers",
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of MCP servers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from Auth0 or OAuth2"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "System",
      "description": "System and health endpoints"
    },
    {
      "name": "Monitoring",
      "description": "Monitoring and metrics"
    },
    {
      "name": "RAG",
      "description": "Retrieval-Augmented Generation"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol"
    },
    {
      "name": "Agents",
      "description": "AI Agent orchestration"
    },
    {
      "name": "E-Commerce",
      "description": "E-commerce automation"
    },
    {
      "name": "WordPress",
      "description": "WordPress automation"
    },
    {
      "name": "Marketing",
      "description": "Marketing automation"
    }
  ]
}