<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <context>
        <name>DevSkyy</name>
        <desc>DevSkyy Platform DAST Context</desc>
        <inscope>true</inscope>
        <incregexes>http://localhost:8000.*</incregexes>
        <tech>
            <include>Db</include>
            <include>Db.PostgreSQL</include>
            <include>Language</include>
            <include>Language.Python</include>
            <include>Language.JavaScript</include>
            <include>OS</include>
            <include>OS.Linux</include>
            <include>SCM</include>
            <include>SCM.Git</include>
            <include>WS</include>
            <include>WS.FastAPI</include>
        </tech>
        <urlparser>
            <class>org.zaproxy.zap.model.StandardParameterParser</class>
            <config>{"kvps":"&amp;","kv":"=","struct":[]}</config>
        </urlparser>
        <postparser>
            <class>org.zaproxy.zap.model.StandardParameterParser</class>
            <config>{"kvps":"&amp;","kv":"=","struct":[]}</config>
        </postparser>
        <authentication>
            <type>0</type>
            <strategy>EACH_RESP</strategy>
            <pollurl></pollurl>
            <polldata></polldata>
            <pollheaders></pollheaders>
            <pollfreq>60</pollfreq>
            <pollunits>REQUESTS</pollunits>
        </authentication>
        <users/>
        <forceduser>-1</forceduser>
        <session>
            <type>0</type>
        </session>
        <authorization>
            <type>0</type>
            <basic>
                <header/>
                <body/>
                <logic>AND</logic>
                <code>-1</code>
            </basic>
        </authorization>
    </context>
</configuration>
