@font-face{font-family:'barlow 300 latin';src:url('./barlow-300-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'barlow 400 latin';src:url('./barlow-400-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'barlow 500 latin';src:url('./barlow-500-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'barlow 600 latin';src:url('./barlow-600-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'barlow 700 latin';src:url('./barlow-700-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'barlow italic 400 latin';src:url('./barlow-italic-400-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'bebas neue latin';src:url('./bebas-neue-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'cinzel latin';src:url('./cinzel-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'cormorant garamond italic latin';src:url('./cormorant-garamond-italic-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'cormorant garamond latin';src:url('./cormorant-garamond-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'instrument serif italic latin';src:url('./instrument-serif-italic-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'instrument serif latin';src:url('./instrument-serif-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'inter latin ext';src:url('./inter-latin-ext.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'inter latin';src:url('./inter-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'kaushan script latin';src:url('./kaushan-script-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'oswald latin';src:url('./oswald-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'pinyon script latin';src:url('./pinyon-script-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'playfair display latin ext';src:url('./playfair-display-latin-ext.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'playfair display latin';src:url('./playfair-display-latin.woff2') format('woff2');font-display:swap;}
@font-face{font-family:'yellowtail latin';src:url('./yellowtail-latin.woff2') format('woff2');font-display:swap;}
